[Unit]
Description=Sunny Gopher, returns random quotes from IASIP.
Documentation=https://github.com/BramVer/sunny-gopher

[Service]
Type=simple
ExecStart=/root/go_projects/sunny-gopher/main
WorkingDirectory=/root/go_projects/sunny-gopher
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target